<% provide(:title, "帮助") %>
<h1>帮助</h1>
<p>
我的博客
<a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a>.
在这里
<a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
书</a>.
</p>