<footer class="footer">
<small>
 <a href="http://www.railstutorial.org/"> 公共资源交易网</a>
和 <a href="http://www.michaelhartl.com/">政采商城</a>
</small>
<nav>
<ul>
<li><%= link_to "关于", about_path %></li>
<li><%= link_to "联系", contact_path %></li>
<li><a href="http://news.railstutorial.org/">新闻</a></li>
</ul>
</nav>
</footer>